<docs lang="markdown">

This plugin allows to visualize results of a classification of 
RNA localization in Hela cells. 

For more details on the biology, see Chouaib et al., A Dual Protein-mRNA Localization Screen Reveals 
Compartmentalized Translation and Widespread Co-translational RNA Targeting, Developmental Cell, 2020
https://www.sciencedirect.com/science/article/abs/pii/S1534580720305840

Plots shows a t-SNE projection. Each dot is a celland when clicking on a 
dot, the corresponding image is displayed together with information about the cell line. 
The plugin also allows to search for a gene, or a localization pattern.  

</docs>

<config lang="json">
{
    "name": "RNAloc-TSNE",
    "type": "window",
    "tags": [],
    "ui": "Explore protein localization patterns in HPA images.",
    "version": "0.1.6",
    "api_version": "0.1.8",
    "description": "Explore protein localization patterns in HPA images.",
    "icon": "photo",
    "inputs": null,
    "outputs": null,
    "requirements": [
    "https://cdn.plot.ly/plotly-latest.min.js",
    "https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js",
    "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js",
    "https://unpkg.com/spectre.css/dist/spectre.min.css",
    "https://unpkg.com/spectre.css/dist/spectre-exp.min.css",
    "https://unpkg.com/spectre.css/dist/spectre-icons.min.css"],
    "dependencies": [],
    "defaults": {"w": 50, "h":20, "fullscreen": true},
    "cover": "https://imjoy-team.github.io/imjoy-plugins/hpa-umap/hpa-umap-cover.gif"
}
</config>

<script lang="javascript">

function gaussianRand() {
  var rand = 0;
  for (var i = 0; i < 6; i += 1) {
    rand += Math.random();
  }
  return rand / 6 - 0.5;
}

function transpose(data) {
  let result = {};
  for (let row of data) {
    for (let [key, value] of Object.entries(row)) {
      result[key] = result[key] || [];
      result[key].push(value);
    }
  }
  return result;
}

const convertBase64ToFile = function (image) {
  let mime = image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
  if (mime && mime.length) {
    mime = mime[1];
  }

  let ab;
  if (mime === "image/svg+xml") {
    const byteString = image.split(",")[1];
    ab = decodeURIComponent(byteString);
  } else {
    const byteString = atob(image.split(",")[1]);
    ab = new ArrayBuffer(byteString.length);
    const ia = new Uint8Array(ab);
    for (let i = 0; i < byteString.length; i += 1) {
      ia[i] = byteString.charCodeAt(i);
    }
  }
  const newBlob = new Blob([ab], {
    type: mime,
  });

  return newBlob;
};

// Color and labels for manual annotation


const COLORS = [
  "#a65628",
  "#b0b2b5",
  "#ff7f00",
  "#e41a1c",
  "#377eb8",
  "#4daf4a",
  "#984ea3",
  "rgba(240,240,240,0.2)",
];

const PATTERNS = [
  "random",
  "cell edge",
  "foci",
  "intranuclear",
  "nuclear edge",
  "perinuclear",
  "protrusion",
  "not annotated / multiple labels",
];

class ImJoyPlugin {
  async setup() {
    const self = this;
    this.store = {
      images: [],
      selected_table: null,
      current_filter: "",
      tables: {
        "2D": "https://dl.dropbox.com/s/t48o1qbggye3tof/rnaloc_tsne_2d.csv",
        "3D": "https://dl.dropbox.com/s/rlkv8hzbl9thkkn/rnaloc_tsne_3d.csv",
      },
      table_localization_classes: {
        None: null,
        "Manual annotation": "pattern",
        Random: "probability_random",
        Intranuclear: "probability_intranuclear",
        "Nuclear ": "probability_nuclear",
        Perinuclear: "probability_perinuclear",
        Protrusion: "probability_protrusion",
        Foci: "probability_foci",
      },

      current_index: 0,
      loading: true,
      thumbnail: null,
      search_text: "",
    };
    this.app = new Vue({
      el: "#app",
      data: this.store,
      methods: {
        loadTable(url) {
          this.selected_table = url;
          if (this.tables[url]) {
            url = this.tables[url];
          }
          this.loading = true;
          Papa.parse(url, {
            download: true,
            header: true,
            dynamicTyping: true,
            skipEmptyLines: true,
            error: (err, file, inputElem, reason) => {
              api.alert("Falied to load the table: " + reason.toString());
              this.loading = false;
              this.$forceUpdate();
            },
            complete: (results) => {
              for (let loc of results.data) {
                if (loc.gene && loc.cell_line)
                  loc.info =
                    loc.gene + "(" + loc.cell_line + ")" + ": " + loc.location;
                else loc.info = loc.cell;
              }
              console.log("===============>", results);
              self.umap_data = results.data;
              try {
                self.updateUmap(
                  self.umap_data,
                  this.current_filter,
                  null,
                  self.umap_data[0].z ? true : false
                );
              } finally {
                this.loading = false;
                this.$forceUpdate();
              }
            },
          });
        },

        openImage(url) {
          api.utils.openUrl(url);
        },

        async showImage(obj) {
          this.images.push(obj);
          if (this.images.length > 5) {
            this.images.shift();
          }
          this.current_index = this.images.length - 1;
        },

        showThumbnail(obj) {
          this.thumbnail = obj;
        },

        async search(text) {
          this.loading = true;
          try {
            await self.updateUmap(
              self.umap_data,
              text,
              null,
              self.umap_data[0].z ? true : false
            );
          } finally {
            this.loading = false;
          }
        },

        async select_class(class_prob) {
          console.log(class_prob);
          this.loading = true;
          try {
            await self.updateUmap(
              self.umap_data,
              null,
              class_prob,
              self.umap_data[0].z ? true : false
            );
          } finally {
            this.loading = false;
          }
        },

        async selectFileChanged(event) {
          const file = event.target.files[0];
          if (file) {
            this.loadTable(file);
          }
        },
      },
    });
  }

  // Specify scatter plot with plotly
  async plot(data, showlegend) {
    document.getElementById("chart").innerHTML = "";

    const updatemenus = [
      {
        buttons: [
          {
            args: [
              {
                "marker.size": 16,
              },
            ],
            label: "marker size: 16",
            method: "restyle",
          },
          {
            args: [
              {
                "marker.size": 8,
              },
            ],
            label: "marker size: 8",
            method: "restyle",
          },
          {
            args: [
              {
                "marker.size": 4,
              },
            ],
            label: "marker size: 4",
            method: "restyle",
          },
          {
            args: [
              {
                "marker.size": 2,
              },
            ],
            label: "marker size: 2",
            method: "restyle",
          },
          {
            args: [
              {
                "marker.size": 1,
              },
            ],
            label: "marker size: 1",
            method: "restyle",
          },
        ],
        direction: "down",
        pad: {
          r: 0,
          t: 0,
        },
        showactive: true,
        type: "dropdown",
        x: 0.8,
        xanchor: "left",
        y: 1.05,
        yanchor: "top",
      },
    ];

    const layout = {
      showlegend: showlegend,
      hovermode: "closest",
      title: "RNA localization in HeLa cells (cells: " + data[0].x.length + ")",
      xaxis: {
        showticklabels: false,
        nticks: 10,
        domain: [-100, 100],
        range: [-100, 100],
        zeroline: false,
      },
      yaxis: {
        showticklabels: false,
        nticks: 10,
        domain: [-100, 100],
        range: [-100, 100],
        zeroline: false,
      },
      updatemenus: updatemenus,
    };

    this.umap_chart = await Plotly.newPlot("chart", data, layout, {
      responsive: true,
    });

    window.addEventListener("resize", () => {
      Plotly.relayout("chart", {
        width: document.getElementById("chart").clientWidth,
        height: document.getElementById("chart").clientHeight,
      });
    });

    document.getElementById("chart").on("plotly_click", async (data) => {
      for (var i = 0; i < data.points.length; i++) {
        console.log("====>", data.points[i].customdata);

        // const image_base_url = 'https://images.proteinatlas.org/' + id.split('_')[0] + '/' + id.split('_')[1] + '_' + id.split('_')[2] + '_' + id.split('_')[3]
        let cell_name = data.points[i].customdata.cell;
        const image_url =
          "https://imjoy-s3.pasteur.fr/fq-imjoy/tsne/img-smfish/" +
          cell_name +
          ".png";

        /* With consistenly constructed file-names, information could be extracted here
          let gene = data.points[i].customdata.cell.split('_')[0]
          */

        await this.app.showImage({
          url: image_url,
          meta: data.points[i].customdata,
        });

        /* TODO: will require adding thumbnails to the S3
          const thumbnail_url = 'https://images.proteinatlas.org/' + id.split('_')[0] + '/' + id.split('_')[1] + '_' + id.split('_')[2] + '_' + id.split('_')[3] + '_blue_red_green_yellow_thumb.jpg'
          this.app.showThumbnail({
            url: thumbnail_url,
            meta: data.points[i].customdata
          })
          */

        // >>> Create bar plot
        document.getElementById("chart_loc").innerHTML = "";
        const layout = {
          hovermode: "closest",
          xaxis: {
            domain: [0, 1],
            range: [0, 1],
          },
        };

        var data = [
          {
            type: "bar",
            y: [
              "Intranuclear",
              "Nuclear",
              "Perinuclear",
              "Protrusion",
              "Foci",
              "Random",
            ],
            x: [
              data.points[i].customdata.probability_intranuclear,
              data.points[i].customdata.probability_nuclear,
              data.points[i].customdata.probability_perinuclear,
              data.points[i].customdata.probability_protrusion,
              data.points[i].customdata.probability_foci,
              data.points[i].customdata.probability_random,
            ],
            orientation: "h",
          },
        ];

        Plotly.newPlot("chart_loc", data, layout);

        const screen_width =
          window.innerWidth ||
          document.documentElement.clientWidth ||
          document.body.clientWidth;
        if (screen_width < 1024) window.scrollTo(0, document.body.scrollHeight);
      }
    });

    document.getElementById("chart").on("plotly_hover", async (data) => {
      for (var i = 0; i < data.points.length; i++) {
        const id = data.points[i].customdata.id;
        /* TODO: will require adding thumbnails to the S3
          const thumbnail_url = `https://imjoy-s3.pasteur.fr/fq-imjoy/tsne/img-smfish/AKAP1_adham_nopuro_racha_nodrug_1_0_cell_0.png`
          this.app.showThumbnail({
            url: thumbnail_url,
            meta: data.points[i].customdata
          })
          */
      }
    });
  }

  async updateUmap(table, filter, class_prob, remove) {
    // >>> Define filter on table and apply if enabled
    filter = (filter || "") && filter.trim();
    this.app.current_filter = filter;

    const filters = filter.split(" ");
    let filter_func = (row) => {
      let ret = false;
      for (let filter of filters) {
        ret =
          ret ||
          !filter ||
          row["cell"].toLowerCase().includes(filter.toLowerCase()); // case-insensitive search
      }
      return row.cell && ret;
    };

    if (remove) {
      table = table.filter(filter_func);
    }

    this.filtered_table = table;
    console.log("filtered: ", this.filtered_table);

    // No results found
    if (table.length <= 0) {
      await api.alert("No image found with search term.");
      return;
    }
    await api.showMessage(table.length + " images found.");

    const dataObj = transpose(table);

    // Create object (dictionary) for mapping
    const color_map = {};
    for (let i = 0; i < COLORS.length; i++) {
      color_map[i] = COLORS[i];
    }

    // Color-coding, opacity & legend
    // When class_prob: use this code the color
    //         - for manual - use the different color codes
    //         - for automated: use probabilities
    // When search-term: color code according to this
    let color;
    let opacity = 1;
    let showlegend = false;
    if (class_prob) {
      if (class_prob == "pattern") {
        showlegend = true;
        color = dataObj.pattern.map((pattern, index) => {
          if (pattern === null) {
              return COLORS[COLORS.length-1];
          } else {
              return color_map[pattern];
          }
        });
      } else {
        color = dataObj[class_prob];
      }
    } else {
      color = dataObj.cell.map((name, index) => {
        if (!remove && !filter_func(table[index])) {
          return "#cccccc";
        } else {
          return "#0da846";
        }
      });
    }
    debugger
    // Data
    const data = [
      {
        type: dataObj.z ? "scatter3d" : "scattergl", // Assign based on presence of z coordinates
        mode: "markers",
        opacity: opacity,
        marker: {
          size: dataObj.z ? 3 : 5,
          color: color,
        },
        text: dataObj.info,
        x: dataObj.x,
        y: dataObj.y,
        z: dataObj.z,
        customdata: table,
      },
    ];

    this.plot(data, showlegend);

    // >>> Create chart with legend
    document.getElementById("chart_legend").innerHTML = "";

    if (showlegend) {
      let data_legend = [];
      for (var i = 0; i < COLORS.length; i++) {
        let trace = {
          y: [0],
          x: [1],
          type: "bar",
          orientation: "h",
          text: PATTERNS[i],
          textposition: "auto",
          marker: {
            color: COLORS[i],
          },
        };
        data_legend.push(trace);
      }

      const layout_legend = {
        hovermode: false,
        showlegend: false,
        xaxis: {
          showgrid: false,
          zeroline: false,
          showline: false,
          showticklabels: false,
        },
        yaxis: {
          showgrid: false,
          zeroline: false,
          showline: false,
          showticklabels: false,
        },
      };

      Plotly.newPlot("chart_legend", data_legend, layout_legend);
    }
  }
  async run(my) {
    await this.app.loadTable("2D");

    // Check if browser is Safari --> not all functionality is guaranteed
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

    if (! isSafari){
      api.alert('It seems that you are using Safari. Due to a bug in the plotting library, not all functionality is available. We recommend using Chrome instead.')
    }
  }
}

api.export(new ImJoyPlugin())
</script>

<window lang="html">
    <div id="app">

        <!-- NAVBAR -->
        <header class="navbar">
            <input id="file" style="display:none;" type="file" webkitdirectory mozdirectory msdirectory odirectory
                directory multiple @change="selectFileChanged" />

            <section class="navbar-section">
                <a class="navbar-brand mr-2">RNA localization Explorer</a>

                <!-- Dropdown to select 2D or 3D -->
                <div class="btn-group btn-group-block">
                    <button @click="loadTable('2D')" class="btn" :class="{'btn-primary': selected_table==='2D'}">2D</button>
                    <button @click="loadTable('3D')" class="btn" :class="{'btn-primary': selected_table==='3D'}">3D</button>
                </div> 

                <!-- Dropdown to select localization class -->
                <div class="dropdown hide-sm">
                    <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                        <i class="fas fa-folder-plus icon-size-position"></i>
                        <label class="hide-sm">Localization classification</label> <i
                            class="icon icon-caret hide-sm"></i>
                    </a>
                    <ul class="menu">
                        <li v-for="class_prob, name in table_localization_classes" :key="name">
                            <a href="#" @click="select_class(class_prob)" class="btn btn-link">
                                {{name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="navbar-section">
                <div class="input-group input-inline">
                    <input class="form-input" type="text" v-model="search_text" @keyup.enter="search(search_text)"
                        placeholder="search">
                    <button class="btn btn-primary input-group-btn" @click="search(search_text)">Search</button>
                </div>
            </section>
        </header>

        <!-- NAVBAR -->
        <div class="container">
            <div class="loading loading-lg" v-if="loading">Loading...</div>
            <div class="columns col-gapless" v-show="!loading">

                <div class="column col-6">
                    <div id="chart"></div>
                    <div id="chart_legend"></div>
                </div>

                <div class="column col-6">
                    <div id="image-container">
                        <img v-if="thumbnail" class="img-responsive rounded hpa-thumbnail" :src="thumbnail.url"
                            :alt="thumbnail.meta.id"></img>
                        <div v-if="images[current_index]" style="text-align: center;">
                            <br>
                            <p>Image name: {{images[current_index].meta['cell']}}</p>
                            <button class="btn" @click="openImage(images[current_index].url)">Open in new tab <i
                                    class="icon icon-share"></i></button>
                        </div>
                        <h2 v-else>
                            <br>
                            Click on a data point to see the sample image.
                        </h2>

                        <!-- IMAGE carousel -->
                        <div class="carousel">
                            <!-- carousel locator -->
                            <input class="carousel-locator" v-for="(img, i) in images" :id="'slide-'+i" type="radio"
                                name="carousel-radio" hidden="" v-model="current_index" :value="i" checked="">
                            <!-- carousel container -->
                            <div class="carousel-container">
                                <!-- carousel item -->
                                <figure class="carousel-item" v-for="(img, i) in images">
                                    <img class="img-responsive rounded" :src="img.url" :alt="img.meta.id"
                                        @click="openImage(images[current_index].url)">
                                </figure>
                            </div>
                            <!-- carousel navigation -->
                            <div class="carousel-nav">
                                <label class="nav-item text-hide c-hand" v-for="(img, i) in images"
                                    :for="'slide-'+i">{{img.meta.id}}</label>
                            </div>
                        </div>

                        <!-- Chart for localization classes -->
                        <div id="chart_loc"></div>
                    </div>
                </div>
            </div>
        </div>
</window>

<style lang="css">
#chart{
    width: 800px;
    height: 800px;
    max-width: calc( 100% + 140px );
    margin-left: -70px;
}

#chart_loc{
    text-align: center;
    width: 350px;
    height: 300px;
    max-width: 100%;
}
#image-container{
    text-align: center;
    width: 350px;
    height: 350px;
    max-width: 100%;
}
.carousel{
    margin: 20px;
}

.hpa-thumbnail{
    position: absolute;
    left: 30px;
    top: 100px;
}
</style>